@import "../assets/variables";

section {
    background-color: $secondary-color;

    .addNew{
        display: flex;
        justify-content: end;
    
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        text-decoration: none;
        color: $font-color;
        font-size: 1.6rem;
        background-color: $add-new-card;
        border-radius: 2rem;
        margin: 1rem 1rem;
    }
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
